body{
	background-color: #0E1042;
}
h1 {
	font-size: 30px;
	text-align: center;
	color: white;
	font-family: sans-serif;
}

#box {
	width: 311px;
	height:308px;
	border: 1px solid gray;
	background-color: black;
	margin: auto;
}
input {
	width: 100px;
	height: 100px;
	border:none;
	font-size: 100px;
	vertical-align: top;
	margin-top: 3px;
	line-height: 3px;
}

input:hover {
	background-color: #AD9827;
	cursor: pointer;
	-moz-transition: background 0.2s linear;
    -ms-transition: background 0.2s linear;
    -o-transition: background 0.2s linear;
   	transition: background 0.2s linear;
}
#btnReset {
	width: 302px;
	height: 100px;
	border:none;
	font-size: 60px;
	background-color: #333;
	color:white;
	margin: auto;
	display: block;
	margin-top: 20px;
	border-radius: 5px;
}
#btnReset:hover {
	background-color: gray;
	color:white;
	cursor: pointer
    -moz-transition: background 0.5s linear;
    -ms-transition: background 0.5s linear;
    -o-transition: background 0.5s linear;
   	transition: background 0.5s linear;



    }